/** COOKIE MODAL **/

.ddmcm {
    @apply fixed inset-0 z-50 pointer-events-none;
    @apply transition-opacity duration-300;
}

.ddmcm-rel {
    @apply relative w-full h-screen inset-0;
}

.ddmcm-pos {
    @apply absolute max-w-full md:max-w-md lg:max-w-lg;
    @apply top-1/2 left-1/2 md:top-auto md:bottom-8 lg:inset-auto lg:right-8 lg:bottom-8;

    @apply overflow-y-auto pointer-events-auto;
    transform: translate(-50%, -50%);
    box-shadow: theme('boxShadow.lg');
    background-color: theme('colors.white');
    width: 90%;

    @screen md {
        transform: translateX(-50%);
    }

    @screen lg {
        transform: none;
    }
}

.ddmcm-content, .ddmcc-content {
    @apply p-6;

    h2, p {
        @apply pb-4 lg:pb-8;
    }

    h2 {
        @apply text-lg lg:text-xl bg-none;
    }

    p {
        @apply text-sm lg:text-base;
    }
}

.ddmcm-content {
    .checkbox {
        &:not(:last-of-type) {
            @apply pb-1 lg:pb-2;
        }

        & > input[type="checkbox"] + label {
            @apply inline-block;
        }
    }

    .ddmcm-classes {
        @apply pb-4 lg:pb-8;
    }

    .buttons {
        @apply flex flex-col justify-start text-center;
        @apply lg:block text-left;
    }

    #ddmcm-button-all {
        @apply button-primary cursor-pointer;
    }

    #ddmcm-button-selected {
        @apply underline pt-4 lg:pt-0 lg:pl-2 cursor-pointer;
    }
}

/** COOKIE COVER **/

.ddmcc {
    @apply absolute inset-0 bg-no-repeat bg-cover;
}

.ddmcc-pos {
    @apply flex flex-col justify-center w-full h-full;
    background-color: rgba(64, 64, 64, .6);
}

.ddmcc-content {
    @apply px-12 lg:px-16;

    * {
        color: theme('colors.white');
    }

    .buttons {
        @apply flex justify-center;

        #ddmcc-button-accept {
            @apply button-primary cursor-pointer;
        }
    }
}
